.button-group{
    display:flex;
    justify-content:center;
    gap:15px;
}

.btn{
    padding:10px 20px;
    border:none;
    border-radius:8px;
    font-size:15px;
    cursor:pointer;
    font-weight:bold;
}

.btn-secondary{
    background:#6c757d;
    color:white;
}

.btn-success {
    width: 220px;
    height: 45px;
    background: #2e7d32;
}

.btn-primary{
    background:#007bff;
    color:white;
}

.btn-warning{
    width:220px;
    height:45px;
    background:green;
    color:white;
}

.btn-danger{
    background:#dc3545;
    color:white;
}
